# devcontainer
.devcontainer/gurobi.lic

# vscode config
.vscode
.vscode/settings.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Built documentation
docs/build/*

# Reports


# Caches
.mypy_cache
.ruff_cache

# Example result files
examples/*/rom
examples/*/results**

# Models
models/*
*.lp
*.mps

# Log files
*.log

# Docs
docs/source/index.rst
docs/source/ehubx*
docs/source/modules.rst
