# devcontainer
.devcontainer/gurobi.lic

# vscode config
.vscode
.vscode/settings.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Built documentation
docs/build/*
public

# Reports
ruff-report.txt
mypy-report.xml
unit_test_report.html
.coverage
.coverage.rc
tests/_tmp_model

# Caches
.mypy_cache
.ruff_cache

# Examples
examples/**/rom
examples/**/results*

# Models
models/*

# Log and model files
*.log
*.lp

# Docs
docs/source/index.rst
docs/source/ehubx*

